// b_03_scss_mixin_function.scss
/* b_03_scss_mixin_function.css */

// css - css 파일을 별도로 분리하여 참조
// @import url();
// scss - scss 파일을 불러와서 css 변환시 1개의 파일로 결합
@import "../common/mixin";

#wrap {
  @include bgImg("001.png");
}  

p {
  @include unit(width,100);
  height: rem(50);
}

$device: 768;
.div1 {
  width: vw(40);
}