// _mixin.scss
@use "sass:math"; // math 기능을 쓴다는 선언

// font-set
@mixin font_set (){
	font-family: $font_family_en, $font_family_kr, $font_family_common;
}
@mixin text_option($size: title3, $weight: 4, $line: true) {
	font-size: map-get($map: $font_size, $key: $size);
	font-weight: nth($font_weight, $weight);
	@if $line {
		line-height: 24px;
		letter-spacing: -0.006em;
	}
}

@mixin effect_shadow_01 {
	box-shadow:0px 4px 4px rgba(0,0,0,0.25);
}

// image

// size
$imgPath: '../img/';

// @mixin img와 @mixin full은 연결되어 있다(full 안에 img가 들어가 있음)
// 먼저 img를 정의한 뒤에 img를 포함하고 있는 full을 정의해야 한다
@mixin img($file, $repeat:no-repeat, $position:50% 50%, $size:initial) {
	background : {
		image: url(#{$imgPath}#{$file});
		repeat: $repeat;
		position: $position;
		size: $size;
	}
	> span {
		display: block;
		position: absolute; z-index: -1; clip: rect(0 0 0 0);
		width: 0; height: 0; overflow: hidden;
	}
	@content;
}
@mixin full($file:false, $repeat:no-repeat, $position:50% 50%, $size:initial) {
	display: block; width: 100%; height: 100%;
	// $img가 초기값인 false일 경우에는 if문이 처리되지 않음
	@if ($file) { 
		@include img($file, $repeat, $position, $size) {
			@content;
		}
	}
}
// a {
// 	@include full('file.png');
// 	@include full('file.png', $size:cover); // size에만 값을 넣고싶다
	// @include full('file.png', $size:cover) { background-clip: border-box }; // content에 값 추가하기: 그냥 따로 써도 되지만 비슷한 속성일 때 묶어주면 가독성 up
	// @include img('image_01.png');
// }

// unit
$baseSize: 16;
@mixin remUnit($name, $unit) {
	#{$name}: #{$unit} + px;
	#{$name}: math.div($unit, $baseSize) + rem; // math 기능을 써야 에러가 나지 않는다.
}

// @media query --------------------------------------
$mobile : 320px;
$tablet : 600px;
$laptop : 1024px;
$pc:1440px;

@mixin mobile() {
	@media all and (max-width: #{$tablet - 1}) {
		@content;	
	}
}
@mixin tablet() {
	@media all and (min-width: $tablet) and (max-width: #{$laptop - 1}) {
		@content;
	}
}
@mixin laptop() {
	@media all and (min-width: $laptop) and (max-width: #{$pc - 1}) {
		@content;
	}
}
@mixin pc() {
	@media all and (min-width: $pc) {
		@content;
	}
}
