@charset "UTF-8";
/* b_10_shadow.css */

/* design */
#wrap {
  width: 56.25rem; height: auto;
  padding-bottom: 1000px; box-sizing: content-box;
  margin: auto;
}

.part {
  width: 100%; height: 45rem;
  border-bottom: 0.0625rem solid #777;
}
.box > div {
  float: left;
  width: 350px; height: 200px;
  margin: 30px;
  text-align: center; line-height: 200px;
  background-color: #ddd;
}

.box_shadow_01 {
  /* 그림자를 만드는 기법
  box-shadow: x y blur color; */
  box-shadow: 5px 5px 5px #077;
}
.box_shadow_02 {
  /* 그림자를 만드는 기법
  box-shadow: x y blur offset color; */
  box-shadow: 0 0 5px 5px #077;
}
.box_shadow_03 {
  /* 그림자를 만드는 기법
  box-shadow: inset x y blur color; */
  box-shadow: inset 5px 5px 5px #077;
}
.box_shadow_04 {
  /* 그림자를 만드는 기법
  box-shadow: x y blur color; */
  box-shadow: 0 0  5px #077,
              -5px -5px 5px #777,
              10px 10px 3px #adf,
              inset 0 0 5px #fff;
}
.box .star {
  width: 3px; height: 3px;
  background-color: #daa;
  box-shadow: 15px 15px 0 3px #0af,
              50px 80px 0 5px #f06,
              140px 300px #fa0,
              -40px -20px #ddf,
              -200px -400px #171717;
  position: fixed;
  animation: star 3000ms alternate 4 ease-in;
}

@keyframes star {
  0% { top: -100px; right: -200px; opacity: 0.8; }
  100% { top: 100%; right: 100%; opacity: 0; }
}


.text > div {
  width: 100%; height: 50px;
  margin-bottom: 10px;
  font-size: 3rem; font-weight: 700;
  text-align: center; 
  background-color: #ddd;
}
.text_shadow_01 {
  /*글자에 그림자 주기
  text-shadow: x y blur color; */
  text-shadow: 5px 5px 5px #777;
}
.text_shadow_02 {
  text-shadow: 5px 5px 0 #47a,
              10px 4px #fa0;
  color: rgba(255,255,255,0.5)
}
.text_shadow_03 {
  /* text-shadow: ; */
}

.image > div {
  float: left;
  width: 200px; height: 200px;
  border-radius: 100%; margin: 50px;
  /* background-color: #ccc; */
  /* background-image: url(../../img/icon/arrow.svg); */
  background-image: url(../../img/icon/chipmunk.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
}

.img_shadow_01 {
  box-shadow: 5px 5px 5px #333;
}
.img_shadow_02 {
  /* 그림자가 이미지 자체에 적용 */
  filter: drop-shadow(5px 5px 5px #333);
}
.img_shadow_03 {
  box-shadow: 5px 5px 5px #333;

}
.img_shadow_04 {
  box-shadow: 5px 5px 5px #333;

}