@charset "UTF-8";
/* b_04_layout_test_pdf_result.css */

/* reset.css */
html, body {
  margin: 0; padding: 0; border: 0;
}
h1, h2, h3, h4, h5, h6, p, pre, address, ul, li, ol, dl, dt, dd {
  margin: 0; padding: 0;
  font-size: 16px; font-family: sans-serif;
}
a {
  text-decoration: none; color: inherit;
}
ul, ol {
  list-style: none; 
}
button {
  border: 0; background-color: transparent; cursor: pointer;
}
header, nav, article, section, aside, menu, footer, figure, figcaption {
  display: block; margin: 0; padding: 0;
}

/* common.css */
.clearfix::after, .clearfix:after {
  content: ""; display: block; clear: both;
}
.blind {
  width: 0; height: 0; overflow: hidden;
}

/* design */
.wrap {
  position: relative;  
  width: 800px; height: 600px; 
  margin: 50px auto; 
  background-color: #ff00aa;
}

.q_8 .modal {
  top: 0; left: 0;
  width: 500px; height: 150px;
  margin-left: 150px;
  background-color: #00aaff;
}

.q_9 .side_indicator {
  position: absolute;
  top:125px; right: 30px;
  width: 50px; height: auto;
  background-color: #0af;

  /* 방법 1 */
  /* top: 0; margin-top: 125px; */

  /* 방법 2 */
  top: 50%; margin-top: -175px;
}

.q_9 ul {
  width: 100%; height: auto;
  padding-top: 10px; padding-bottom: 10px;
}

.q_9 li {
  width: 30px; height: 30px;
  margin: 0 auto; margin-bottom: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
}

.q_9 li:last-child {
  margin-bottom: 0;
}

.q_10 .side_indicator {
  position: absolute;
  top:0; right: 30px;
  width: 50px; height: auto;
  background-color: #0af;
  top: 50%; margin-top: -175px;
}
.q_10 ul {
  width: 100%; height: auto;
  padding: 10px; box-sizing: border-box;
}
.q_10 li {
  position: relative;
  width: 30px; height: 30px;
  margin: 0 auto; margin-bottom: 20px;
  text-align: center;
  line-height: 30px;
}
.q_10 li:last-child {
  margin-bottom: 0;
}
.q_10 a {
  display: block;
  width: 100%; height: 100%;
  border-radius: 100%;
  background-color: #fff;
}
.q_10 span {
  position: absolute;
  top: -6px; right: 50px;
  display: none;
  width: 200px; height: 40px;
  box-sizing: border-box; padding: 5px;
  color: #fff;
  background-color: #06c;
  /* margin-top: -36px; margin-left: -250px; */
}
.q_10 a:hover + span {
  display: block;
}

.siblings {
  width: 400px; height: 800px;
  margin: auto;
  border: 1px solid #777;
}
.siblings:hover dt {
  background-color: #ccf;
}
.siblings > dt:hover + dd {
  background-color: #faa;
}
.siblings > dt:hover ~ dd {
  background-color: #afa;
}

.title_box {
  position: absolute;
  top: 30%; left: 20px; z-index: 3;
  width: 450px; height: 200px;
  box-sizing: border-box; padding: 10px;
  color: #fff;
  background-color: rgba(150,50,150,0.5)
  /* background-color: hsla(270,50%.50%,1) */
  /* background-color: #aa00aa99;
  opacity:40%; */
}
h1 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}

.img2 {
  position: absolute; bottom: 0;
  width: 250px;
}
.img2:nth-child(2) { /* nth-child는 요소의 순서를 따지므로 2번째로 지정해 주어야 한다 */
  right: 250px; z-index: 2;
  height: 400px;
  background-color: #5bb;
}
.img2:nth-child(3) {
  position: absolute;
  right: 20px; z-index: 1;
  height: 500px;
  background-color: #798;
}