@charset "UTF-8";
/* 0924_layout2.css */

/* reset.css */
body { margin: 0; background-color: #000070; }
h1, h2, h3, h4, h5, h6, p, pre, address, ul, li, ol, dl, dt, dd {
  margin: 0; padding: 0; font-size: 16px; font-family: sans-serif; }
a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; }
button { border: 0; background-color: transparent; cursor: pointer; }

/* wrap */
#wrap {
  width: 600px; height: auto;
  background-color: rgb(194, 194, 194);
  margin: auto; padding: 0;
}
.clearfix:after, .clearfix::after {
  content: ""; display: block; clear: both;
}
span {
  display: block;
  width: 100%; height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

/* header */
#header {
  width: 600px; height: 100px;
  background-color:skyblue;
}
#headBox {
  width: 100%; height: 100%;
  padding: 30px 20px 20px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

h1 {
  float: left;
  width: 150px; height: 50px;
  background-color: indigo;
}
.navigation {
  float: right;
  width: auto; height: 50px;
  background-color: aliceblue;
}
.navigation > ul {
  width: auto; height: auto;
  margin-top: 10px;
}
.navigation > ul > li {
  float: left;
  display: block;
  width: 30px; height: 40px;
  margin-left: 20px; padding: 0;
  background-color: lightgreen;
}
.navigation > ul > li:first-child {
  margin: 0;
}

/* section */
#section, #aside, #article, #content {
  background-color: transparent;
  margin-bottom: 20px;
}

#section {
  width: 600px; height: auto;
  padding: 20px 0; box-sizing: border-box;
}
#section > div {
  float: left;
}
.sect_01 {
  width: 40%; height: 300px;
  margin: auto; padding: 20px; box-sizing: border-box;
  background-color: cornflowerblue;
}
.sect_02 {
  width: 60%; height: 300px;
  margin: auto; padding: 20px; box-sizing: border-box;
  background-color: darkgray;
}

/* aside */
#aside {
  width: 100%; height: auto;
  padding: 20px 0; box-sizing: border-box;
}
#aside > div {
  float: left;
}
.side_01 {
  width: 33%; height: 300px;
  background-color: darkkhaki;
}
.side_02 {
  width: 34%; height: 300px;
  background-color:darkturquoise;
}
.side_03 {
  width: 33%; height: 300px;
  background-color: darkkhaki;
}

/* article */
#article {
  width: 100%; height: auto;
}
#article > div {
  float: left;
}
.art_01 {
width: 33%; height: 300px;
background-color: dimgray;
}
.art_02 {
width: 67%; height: 150px;
background-color: goldenrod;
}
.art_03 {
width: 67%; height: 150px;
background-color: indianred;
}

/* content */
#content {
  width: 100%; height: auto;
}
#content > div {
}
#content .art_01 {
  float: right;
  width: 30%; height: 500px;
}
#content .art_02 {
  float: left;
  width: 70%; height: 150px;
}
#content .art_03 {
  float: left;
  width: 70%; height: 350px;
}

/* footer */
#footer {
  width: 600px; height: 100px;
  background-color: burlywood;
}
