@charset "UTF-8";
/* 0930_practice1.css */

/* reset.css */
html, body {
  margin: 0; padding: 0; border: 0;
}
h1, h2, h3, h4, h5, h6, p, pre, address, ul, li, ol, dl, dt, dd {
  margin: 0; padding: 0;
  font-size: 16px; font-family: sans-serif;
}
a {
  text-decoration: none; color: inherit;
}
ul, ol {
  list-style: none; 
}
button {
  border: 0; background-color: transparent; cursor: pointer;
}
header, nav, article, section, aside, menu, footer, figure, figcaption {
  display: block; margin: 0; padding: 0;
}

/* common.css */
.clearfix::after, .clearfix:after {
  content: ""; display: block; clear: both;
}
.blind {
  width: 0; height: 0; overflow: hidden;
}

/* design */
.wrap {
  position: relative;  
  width: 800px; height: 600px; 
  padding-top: 200px;box-sizing: border-box; margin: auto; 
  background-color: #ff00aa;
}

.modal {
  top: 0; left: 0;
  margin-left: 150px;
  width: 500px; height: 150px;
  background-color: #00aaff;
}
