// 1210_js_promise.scss

input { 
  width: 300px; height: 60px;
  border: 1px solid #666;
}
button {
  width: 100px; height: 60px;
  border: 1px solid #666;
  color: #171717;
}

#conBox li {
  width: 500px; height: auto;
  display: flex; justify-content: space-around;
  margin-bottom: 100px;
}