//slideBox

#slideBox {
  width:100%; height:100vh; min-height: 500px;
  background-color: #dff;

  @include mobile { padding-top: $headH;}
  @include tablet { height: 450px; padding-top: $headH;}
  @include laptop { height: 600px; padding-top: $headH2;}
  @include pc { height: 600px; padding-top: $headH2;}
}  // slideBox